body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/desert-sunset.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', 'Pacifico', Helvetica, sans-serif;
    overflow: hidden;
    ;
}

@font-face {
    font-family: 'pacifico';
    src: url('fonts/Pacifico-Regular.ttf') format('woff'),
}

h1 {
    font-size: 72px;
    letter-spacing: 3px;
    text-shadow: 10px 4px 8px rgb(0, 0, 0, 0.8);
    color: rgba(2, 49, 150, 0.910);
}

canvas {
    background-color: black;
    display: block;
}

.d_none {
    display: none;
}

.position_divs {
    display: flex;
    padding-top: 5px;
    justify-content: space-evenly;
}

.div_rules {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 15px;
    background-color: #ffcc00;
    color: #000;
    border: 2px solid #000;
    border-radius: 100px;
    z-index: 1000;
}

.div_rules_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 15px;
    background-color: #fd8700;
    color: #000;
    border: 2px solid #000;
    border-radius: 100px;
    z-index: 1000;
}

.div_rules_hover:hover {
    background-color: #fd8700;
    box-shadow: 1px 1px 0px #000;
    transform: scale(1.05);
    cursor: pointer;
}

.div-impressum {
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    color: #000;
    padding: 14px;
    background-color: #928a8a;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.div-index {
    display: flex;
    justify-content: center;
    bottom: 10px;
    text-decoration: none;
    color: #000;
    padding: 14px;
    background-color: #ffcc00;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 25px;
}

.div-index:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0px #000;
    transform: scale(1.05);
}

.div-impressum_position {
    bottom: 10px;
    color: #000;
    padding: 14px;
    background-color: #928a8a;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
}

.div-impressum:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0px #000;
    transform: scale(1.05);
}

.restartBtn {
    display: flex;
    justify-content: center;
    padding: 14px;
    background-color: #fd8700;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Comic Sans MS', 'Pacifico', Helvetica, sans-serif;
}

.restartBtn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0px #000;
    transform: scale(1.05);
}


@media (max-width: 500px) {
    .div_rules {
        font-size: 14px;
        padding: 7px;
    }
}

@media (max-height: 650px) {
    .div-impressum {
        display: none
    }
}

@media (max-height: 550px) {
    .div_rules {
        font-size: 13px;
        padding: 10px;
    }

    .div_rules_hover{
        font-size: 13px;
        padding: 10px;
    }

    #button_left {
        position: absolute;
        top: 150px;
        left: 10px;
        display: none
    }

    #button_right {
        position: absolute;
        top: 150px;
        right: 10px;;
        display: none
    }

    #button_jump {
        position: absolute;
        top: 300px;
        left: 10px;
        display: none
    }

    #button_throw {
        position: absolute;
        top: 300px;
        right: 5px;
        display: none
    }

    #button_reload {
        position: absolute;
        top: 20px;
        left: 10px;
        display: none
    }

    #muteBtn {
        position: absolute;
        top: 20px;
        right: 10px;
        display: none
    }

    .position_divs_mobile {
        display: flex;
    }

    .div_rules {
        margin-bottom: 40px;
    }

    .buttons_left {
        top: 40px;
        left: 0;
        position: absolute;
    }

    .buttons_right {
        top: 40px;
        right: 0;
        position: absolute;
    }

    .restartBtn {
        position: absolute;
        bottom: 20px;
    }
}

@media (max-width: 360px) {
    .div_rules {
        flex-direction: column;
        font-size: 14px;
        padding: 7px;
    }
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}